header
  h1 Flash Cards
  .nav-container
    ul
      li
        a(href='/hello') Home
      li
        a(href='/register') Sign Up
      li  
        a(href='/logIn') Log In
      li  
        a(href='/cards') Study