doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    link(rel='stylesheet', href='../styles.css')
    title Flash Cards
  body
    include includes/header.pug
    if name 
      h2 Welcome, #{name}!
      form(action='/goodbye', method='post')
        button(type='submit') Goodbye
    block content
    include includes/footer.pug